h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin: 0 auto;
}

header .container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.headerrr {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
}

.container-foot {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
  justify-content: space-between;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.section:first-child {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("https://github.com/Wallmartboss/goit-markup-hw-04/blob/main/images/people-office.jpg?raw=true");
}

.section:nth-child(3) {
  background-color: #f4f4fd;
}

/*.icon {
  border-radius: 4px;
  
 
}*/

.social-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  fill: #f4f4fd;
}

.soc-links {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 24px;
  padding-left: 0;
}

.link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  background-color: #404bbf;
  border-radius: 50%;
}

.link:focus {
  background-color: #404bbf;
  border-radius: 50%;
}

.title-section-a {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 496px;
}

.button-a {
  display: block;
  line-height: 1.5;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  padding: 16px 16px;
  min-width: 169px;
  height: 56px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-a:hover,
.button-a:focus {
  background-color: #404bbf;
}

.nav-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.cont-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: #404bbf;
}

.menu-nav {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.addr {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.addra {
  font-style: normal;
  margin-left: auto;
}

.address-item {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  white-space: nowrap;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text {
  padding-bottom: 18px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-text:hover {
  color: #404bbf;
}

.nav-text:focus {
  color: #404bbf;
}

.nav-item:first-child .nav-text {
  color: #404bbf;
}

.nav-item:first-child .nav-text::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: transform 5ms;
  transform: scale(1);
}

/*.nav-item:first-child .nav-text::after {
  transform: scale(1);
}*/

.addr-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fs-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benef {
  display: flex;
  width: 100%;
  gap: 24px;
  padding-left: 0;
}

.value {
  width: 100%;
  width: calc((100%-72px) / 4);
}

.value-team {
  background-color: #fff;
  width: calc((100%-72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.value-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  display: flex;
  padding-left: 0;
  gap: 24px;
}

.title-section-c {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.title-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.person {
  border-radius: 0 0 4px 4px;
  padding: 32px 0px 32px 0px;
  background: #fff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.portf {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
}

.value-portfolio {
  width: 100%;
  width: calc((100% - 48px) / 3);
  background-color: #fff;
  margin-top: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sphere {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.type-portfolio {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.foot {
  background: #2e2f42;
  padding: 100px 0;
  margin: 0 auto;
}

.foot-logo {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.f-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.images {
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.img-chg {
  position: relative;
  overflow: hidden;
}

.port-text {
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.value-portfolio:hover .port-text {
  transform: translateY(0);
}

.value-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer-links {
  display: inline-block;
}

.footer-title-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-div {
  margin-left: 0;
}

.soc-links-foot {
  display: flex;
  flex-shrink: 0;
  gap: 16px;
  padding-left: 0;
}

.f-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-link:hover {
  background-color: #31d0aa;
  border-radius: 50%;
}

.f-link:focus {
  background-color: #31d0aa;
  border-radius: 50%;
}

.form-footer {
  display: inline;
}

.form-foot {
  display: flex;
  flex-direction: column;
}

.foot-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-btn:hover,
.foot-btn:focus {
  background-color: #404bbf;
}

.form-input {
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

input::placeholder {
  color: #fff;
}

.icon-btn {
  margin-left: 16px;
}

.form {
  display: flex;
  gap: 24px;
}

.modal {}

.backdrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7));
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrope.is-open {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: auto;
  visibility: visible;
}

/*.button-a:active .backdrope {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}*/

.modal-win {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;

}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal {
  display: flex;
  flex-direction: column;

}

.modal-form-input {
  position: relative;
  background-color: transparent;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-text {
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  gap: 8px;
}

.form-label {

  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-right: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-field-icon {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input::placeholder,
.modal-form-text::placeholder {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:focus-within,
.modal-form-text:focus-within {
  border: 1px solid #4d5ae5;
  outline: none;
}

.input-field-icon:focus-within>svg {
  fill: -po#4d5ae5;
}

.accept {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-field {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.comment-div {
  margin-bottom: 16px;
}

.chk-btn {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;

}

.chk-policy {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  width: 16px;
  height: 16px;
  justify-content: center;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pr-pol {

  margin-bottom: 24px;
}

.pr-pol input:checked .chk-policy {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.ppl {
  color: #4d5ae5;
}

.icon-chk {
  position: absolute;
  top: 0;
  left: 0;
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}