h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 156px;
  margin-right: 156px;
  display: block;
}
header .container {
  display: flex;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
}
.section {
  width: 1440px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section:first-child {
  background-color: #2e2f42;
}
.section:nth-child(3) {
  background-color: #f4f4fd;
}

.title-section-a {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  padding-top: 68px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 496px;
}
.button-a {
  display: block;
  line-height: 1.5;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 16px;
  width: 169px;
  height: 56px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 84px;
  
  
}
.button-a:hover,
.button-a:focus {
  background-color: #404bbf;
}
.nav-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.cont-nav {
  display: flex;
  gap: 76px;
  align-items: baseline;
  margin-top: 24px;
}
.nav-item {
  text-decoration: none;
}
.menu-nav {
  margin-top: 0;
  display: flex;
  gap: 40px;
}
.addr {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 24px;
  margin-left: 332px;
  flex-shrink: 0;
}
.addra {
  font-style: normal;
}
.address-item {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  white-space: nowrap;
}
.nav-text {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-text:hover {
  color: #404bbf;
}

.nav-text:focus {
  color: #404bbf;
}
.addr-item {
}
.benef {
  display: flex;
  width: 100%;
  gap: 24px;
  padding-left: 0;
}

.value {
width: 100%;
flex-basis: calc((100%-72px)/4);
}
.value-team {
  background-color: #fff;
 
}
.value-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}
.team {
  display: flex;
  padding-left: 0;
  gap: 24px;
}
.title-section-c {
  flex-shrink: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;

}
.title-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
}
.position {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  text-align: center;
  padding-bottom: 32px;
}
.portf {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

.value-portfolio {
  background-color: #fff;
 
  flex-basis: calc((100%-48px)/3);

  padding-top: 32px;
  padding-bottom: 8px;
}

.sphere {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  padding-bottom: 32px;
}
.type-portfolio {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.foot {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.foot-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  
}
.foot-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  margin-top: 16px;
}
.address-item:hover,
.address-item:focus {
  color: #404bbf;
}
.f-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
